@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
    background-image:url(../img/bg.jpg);
    background-position: top center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000000 !important;
    color: #fff;
}
body.admin{
    background-image:none;
}
body.bg{
    background-image:url(../img/bg.jpg);
    background-position: top center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000000 !important;
    color: #fff;
}
.mob{
		display: none;
	}
a{
    margin:0 4px;
    color:#fff;
    font-weight:bold;
}
a:hover{
    color: #fff;
}
.logo{
    height:60px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
.question-box{
    color: #3183d5;
}
.question-box h6{
    margin-top:0;
}
#question-form{
    margin:0 auto;
	background: #3333;
    padding: 20px;
}
.message{
    padding:10px;
    margin:10px 0;
}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
.links{
    background-color:#ccc;
    padding:10px;
}
.links a{
    color:#cc0000;
    text-decoration:none;
}
#ques_count{
    display:inline-block;
}
.input-group{
    margin-bottom:5px;
}
h3{
    font-size: 1.5em;
    color: #f8f9fa;
}
.content{
    position:relative;
    margin-top:21px;
}
.info-text{
    font-size:1.5em;
}
#login-form{
    width:100%;
    
    padding:20px 10px;
    border-radius:0px;
    color: #fff;
}
.form-control{
    border-radius: 0;
    padding: 5px 10px;
    font-size: 1.25em;
    border: none;
}
.login-button, .login-button:hover, .login-button:active, .login-button:focus{
    background-color: transparent;
    border: none;
}
@media only screen and (max-width: 762px) {
	body{
		 background-image:url(../img/bg-mob.jpg);
	}
	.mob{
		display: block;
	}
	
	
}